In [239]:
#import modules
import pandas as pd
import matplotlib.pyplot as plt
from pandas import merge

Please join these datasets into a single dataset, and preserve as much data as possible.
◦ Print to console what your method and reasoning is for this. Please do the best possible job
in fixing any missing values

In [240]:
#read files from local folder.
df_model=pd.read_csv("models.csv")
df_region=pd.read_csv("region.csv")
df_field=pd.read_csv("fields.csv")
df_vendor=pd.read_csv("vendors.csv")
df_power=pd.read_csv("powergeneration.csv")

In [241]:
#displaying the details of file
df_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   vendor               174 non-null    int64
 1   field                174 non-null    object
 2   region_cd            174 non-null    object
 3   model_cd             174 non-null    object
 4   RevenueProduced      155 non-null    float64
 5   kilowatt_production  174 non-null    float64
 6   DateOfmeasure        174 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 9.6+ KB

In [242]:
#merging the two different files
df_power_field = df_power.merge(df_field, how='left', left_on='field',right_on='fieldtxt')
df_power_field.head()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,fieldtxt,hasroads,haseasement
0,10025432,OK16592,RA,OT,NaN,8.15,8/18/2017,592,OK16592,Yes,Yes
1,10002535,OK16592,RB,BG,4770.0,8.43,12/30/2016,592,OK16592,Yes,Yes
2,31110054,TX162158,RB,EL,17310.0,3.33,1/28/2017,2158,TX162158,Yes,Yes
3,21500358,OK115130,RB,BG,4770.0,8.72,7/29/2017,5130,OK115130,Yes,Yes
4,31110054,OK10536,RB,LN,12380.0,4.43,11/24/2017,536,OK10536,Yes,Yes

In [243]:
#dropping repeated column
df_power_field=df_power_field.drop('fieldtxt',axis=1 )

In [244]:
df_power_field.head()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement
0,10025432,OK16592,RA,OT,NaN,8.15,8/18/2017,592,Yes,Yes
1,10002535,OK16592,RB,BG,4770.0,8.43,12/30/2016,592,Yes,Yes
2,31110054,TX162158,RB,EL,17310.0,3.33,1/28/2017,2158,Yes,Yes
3,21500358,OK115130,RB,BG,4770.0,8.72,7/29/2017,5130,Yes,Yes
4,31110054,OK10536,RB,LN,12380.0,4.43,11/24/2017,536,Yes,Yes

In [245]:
#merging the two different files
df_power_field_model = df_power_field.merge(df_model, how='left', left_on='model_cd',right_on='modelcd')

In [246]:
df_power_field_model.head()

,vendor,field,region_cd,model_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,modelname,installcost,yearlyupkeep
0,10025432,OK16592,RA,OT,NaN,8.15,8/18/2017,592,Yes,Yes,OT,OT2092,10560,5957
1,10002535,OK16592,RB,BG,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,BG5143,2970,7941
2,31110054,TX162158,RB,EL,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,EL2441,15510,4990
3,21500358,OK115130,RB,BG,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,BG5143,2970,7941
4,31110054,OK10536,RB,LN,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,LN5994,10580,3738

In [247]:
#droping the column
df_power_field_model=df_power_field_model.drop('model_cd',axis=1 )

In [248]:
#displaying resulting dataframe
df_power_field_model.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,modelname,installcost,yearlyupkeep
0,10025432,OK16592,RA,NaN,8.15,8/18/2017,592,Yes,Yes,OT,OT2092,10560,5957
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,BG5143,2970,7941
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,EL2441,15510,4990
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,BG5143,2970,7941
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,LN5994,10580,3738

In [249]:
#merging the files
df_power_field_model_vendor= df_power_field_model.merge(df_vendor, how='left', left_on='vendor', right_on='CIK')
df_power_field_model_vendor.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,modelname,installcost,yearlyupkeep,Vendor,CIK,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent
0,10025432,OK16592,RA,NaN,8.15,8/18/2017,592,Yes,Yes,OT,OT2092,10560,5957,PropBay,10025432,BL,High Efficiency,0.40
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,BG5143,2970,7941,Turbine Inc.,10002535,GN,General,0.30
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,EL2441,15510,4990,BreakingWind,31110054,FD,Being Bad,0.60
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,BG5143,2970,7941,Windstream,21500358,BG,High Capacity,0.35
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,LN5994,10580,3738,BreakingWind,31110054,FD,Being Bad,0.60

In [250]:
#dropping repeated column
df_power_field_model_vendor=df_power_field_model_vendor.drop('CIK',axis=1)

In [251]:
df_power_field_model_vendor

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,modelname,installcost,yearlyupkeep,Vendor,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent
0,10025432,OK16592,RA,NaN,8.15,8/18/2017,592,Yes,Yes,OT,OT2092,10560,5957,PropBay,BL,High Efficiency,0.40
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,BG5143,2970,7941,Turbine Inc.,GN,General,0.30
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,EL2441,15510,4990,BreakingWind,FD,Being Bad,0.60
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,BG5143,2970,7941,Windstream,BG,High Capacity,0.35
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,LN5994,10580,3738,BreakingWind,FD,Being Bad,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,31110054,OK11556,RC,18710.0,2.14,2/18/2017,556,No,Yes,EL,EL2441,15510,4990,BreakingWind,FD,Being Bad,0.60
170,31110054,OK19596,RA,11970.0,5.86,11/8/2017,596,No,Yes,DL,DL1438,8370,5770,BreakingWind,FD,Being Bad,0.60
171,31110054,OK20598,RC,13780.0,6.76,5/12/2017,598,Yes,Yes,LN,LN5994,10580,3738,BreakingWind,FD,Being Bad,0.60
172,10025432,NM166101,RB,5940.0,3.28,11/19/2017,6101,No,Yes,VG,VG6615,4140,4525,PropBay,BL,High Efficiency,0.40
173,31110054,OK16592,RA,5500.0,2.59,12/28/2016,592,Yes,Yes,SA,SA8995,1900,4636,BreakingWind,FD,Being Bad,0.60

In [252]:
#merging the dataframes
df_power_field_model_vendor_region=df_power_field_model_vendor.merge(df_region, how='left', left_on='region_cd', right_on='regioncd')
df_power_field_model_vendor_region.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,...,installcost,yearlyupkeep,Vendor,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent,regioncd,region_name,State,HoursPerWeekOfOperation
0,10025432,OK16592,RA,NaN,8.15,8/18/2017,592,Yes,Yes,OT,...,10560,5957,PropBay,BL,High Efficiency,0.40,RA,Region #1,TX,168
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,...,2970,7941,Turbine Inc.,GN,General,0.30,RB,Region #2,OK,120
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,...,15510,4990,BreakingWind,FD,Being Bad,0.60,RB,Region #2,OK,120
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,...,2970,7941,Windstream,BG,High Capacity,0.35,RB,Region #2,OK,120
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,...,10580,3738,BreakingWind,FD,Being Bad,0.60,RB,Region #2,OK,120

In [253]:
#adding new column
df_power_field_model_vendor_region=df_power_field_model_vendor_region.drop('regioncd',axis=1)

In [254]:
#displaying the dataframe
df_power_field_model_vendor_region.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,modelname,installcost,yearlyupkeep,Vendor,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent,region_name,State,HoursPerWeekOfOperation
0,10025432,OK16592,RA,NaN,8.15,8/18/2017,592,Yes,Yes,OT,OT2092,10560,5957,PropBay,BL,High Efficiency,0.40,Region #1,TX,168
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,BG5143,2970,7941,Turbine Inc.,GN,General,0.30,Region #2,OK,120
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,EL2441,15510,4990,BreakingWind,FD,Being Bad,0.60,Region #2,OK,120
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,BG5143,2970,7941,Windstream,BG,High Capacity,0.35,Region #2,OK,120
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,LN5994,10580,3738,BreakingWind,FD,Being Bad,0.60,Region #2,OK,120

In [255]:
df = df_power_field_model_vendor_region.copy()

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vendor                   174 non-null    int64
 1   field                    174 non-null    object
 2   region_cd                174 non-null    object
 3   RevenueProduced          155 non-null    float64
 4   kilowatt_production      174 non-null    float64
 5   DateOfmeasure            174 non-null    object
 6   fieldnumber              174 non-null    int64
 7   hasroads                 174 non-null    object
 8   haseasement              174 non-null    object
 9   modelcd                  174 non-null    object
 10  modelname                174 non-null    object
 11  installcost              174 non-null    int64
 12  yearlyupkeep             174 non-null    int64
 13  Vendor                   174 non-null    object
 14  AreaOfExpertiseCd        174 non-null    object
 15  AreaOfExpertise          174 non-null    object
 16  VendorPercent            174 non-null    float64
 17  region_name              174 non-null    object
 18  State                    174 non-null    object
 19  HoursPerWeekOfOperation  174 non-null    int64
dtypes: float64(3), int64(5), object(12)
memory usage: 28.5+ KB

• Management has asked that you produce the following computational columns:
◦ Revenue per kilowatt = RevenueProduced / kilowatt_production

In [257]:
df=df.fillna(0)

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vendor                   174 non-null    int64
 1   field                    174 non-null    object
 2   region_cd                174 non-null    object
 3   RevenueProduced          174 non-null    float64
 4   kilowatt_production      174 non-null    float64
 5   DateOfmeasure            174 non-null    object
 6   fieldnumber              174 non-null    int64
 7   hasroads                 174 non-null    object
 8   haseasement              174 non-null    object
 9   modelcd                  174 non-null    object
 10  modelname                174 non-null    object
 11  installcost              174 non-null    int64
 12  yearlyupkeep             174 non-null    int64
 13  Vendor                   174 non-null    object
 14  AreaOfExpertiseCd        174 non-null    object
 15  AreaOfExpertise          174 non-null    object
 16  VendorPercent            174 non-null    float64
 17  region_name              174 non-null    object
 18  State                    174 non-null    object
 19  HoursPerWeekOfOperation  174 non-null    int64
dtypes: float64(3), int64(5), object(12)
memory usage: 28.5+ KB

In [259]:
df['rev_per_kw']= df['RevenueProduced']/df['kilowatt_production']
df['rev_per_kw']

0         0.000000
1       565.836299
2      5198.198198
3       547.018349
4      2794.582393
          ...
169    8742.990654
170    2042.662116
171    2038.461538
172    1810.975610
173    2123.552124
Name: rev_per_kw, Length: 174, dtype: float64

◦ Net profit for the first year of installation = RevenueProduced – yearlyupkeep

In [260]:
df['net_profit_per_yr']= df['RevenueProduced']/df['yearlyupkeep']
df['net_profit_per_yr'].head()

0    0.000000
1    0.600680
2    3.468938
3    0.600680
4    3.311932
Name: net_profit_per_yr, dtype: float64

HoursPerYearOfOperation = HoursPerWeekOfOperation * 52

In [261]:
df['hr_per_yr_op'] = df['HoursPerWeekOfOperation'] * 52
df['hr_per_yr_op'].head()

0    8736
1    6240
2    6240
3    6240
4    6240
Name: hr_per_yr_op, dtype: int64

MaintenanceCostPerYear= yearlyupkeep/ HoursPerYearOfOperation

In [262]:
df['annualy_mntn_cost']=df['yearlyupkeep']/df['hr_per_yr_op']
df['annualy_mntn_cost'].head()

0    0.681891
1    1.272596
2    0.799679
3    1.272596
4    0.599038
Name: annualy_mntn_cost, dtype: float64

Efficiency: Defined as

In [263]:
df.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,...,AreaOfExpertiseCd,AreaOfExpertise,VendorPercent,region_name,State,HoursPerWeekOfOperation,rev_per_kw,net_profit_per_yr,hr_per_yr_op,annualy_mntn_cost
0,10025432,OK16592,RA,0.0,8.15,8/18/2017,592,Yes,Yes,OT,...,BL,High Efficiency,0.40,Region #1,TX,168,0.000000,0.000000,8736,0.681891
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,...,GN,General,0.30,Region #2,OK,120,565.836299,0.600680,6240,1.272596
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,...,FD,Being Bad,0.60,Region #2,OK,120,5198.198198,3.468938,6240,0.799679
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,...,BG,High Capacity,0.35,Region #2,OK,120,547.018349,0.600680,6240,1.272596
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,...,FD,Being Bad,0.60,Region #2,OK,120,2794.582393,3.311932,6240,0.599038

In [264]:
def eff(df):
    if (df.annualy_mntn_cost > 1 and df.kilowatt_production < 3):
        return 'high'
    elif (df.annualy_mntn_cost < 1 and df.annualy_mntn_cost > 0.5 and df.kilowatt_production > 3 and df.kilowatt_production < 6):
        return 'high'
    elif (df.kilowatt_production > 6 and df.kilowatt_production < 9):
        return 'high'
    else: 
        return 'Low'

In [265]:
df['efficiency'] = df.apply(eff, axis=1)

In [266]:
df.efficiency.value_counts()

high    131
Low      43
Name: efficiency, dtype: int64

VendorQuality

In [267]:
def ven_quality(df):
    if (df.hasroads == 'Yes' and df.haseasement == 'Yes' and df.AreaOfExpertise == 'High Capacity'):
        return 'Good'
    elif (df.hasroads == 'Yes' and df.haseasement == 'Yes' and df.AreaOfExpertise == 'High Efficiency'):
        return 'Good'
    else:
        return'Bad'

In [268]:
df['ven_quality'] = df.apply(ven_quality, axis=1)

In [269]:
df.ven_quality.value_counts()

Bad     154
Good     20
Name: ven_quality, dtype: int64

Compute the average Revenue per kilowatt, HoursPerYearOfOperation,
MaintenanceCostPerYear by region
◦ Output to file called “region_aggregate.csv

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   vendor                   174 non-null    int64
 1   field                    174 non-null    object
 2   region_cd                174 non-null    object
 3   RevenueProduced          174 non-null    float64
 4   kilowatt_production      174 non-null    float64
 5   DateOfmeasure            174 non-null    object
 6   fieldnumber              174 non-null    int64
 7   hasroads                 174 non-null    object
 8   haseasement              174 non-null    object
 9   modelcd                  174 non-null    object
 10  modelname                174 non-null    object
 11  installcost              174 non-null    int64
 12  yearlyupkeep             174 non-null    int64
 13  Vendor                   174 non-null    object
 14  AreaOfExpertiseCd        174 non-null    object
 15  AreaOfExpertise          174 non-null    object
 16  VendorPercent            174 non-null    float64
 17  region_name              174 non-null    object
 18  State                    174 non-null    object
 19  HoursPerWeekOfOperation  174 non-null    int64
 20  rev_per_kw               174 non-null    float64
 21  net_profit_per_yr        174 non-null    float64
 22  hr_per_yr_op             174 non-null    int64
 23  annualy_mntn_cost        174 non-null    float64
 24  efficiency               174 non-null    object
 25  ven_quality              174 non-null    object
dtypes: float64(6), int64(6), object(14)
memory usage: 36.7+ KB

In [271]:
region_aggregate=df.groupby('region_name')[['rev_per_kw','hr_per_yr_op','annualy_mntn_cost']].mean()
region_aggregate.head()

              rev_per_kw  hr_per_yr_op  annualy_mntn_cost
region_name
Region #1    2431.143978        8736.0           0.680798
Region #2    1958.381153        6240.0           1.008914
Region #3    2423.915808        6240.0           0.944676

In [272]:
#converting into csv files
region_aggregate=region_aggregate.to_csv('/Users///Desktop/assignment_2_example/region_aggregate1.csv')

Create the following outputs with modelcd, modelname, installcost, yearlyupkeep with models
that have high efficiency(Efficiency = ‘high’) “high_efficiency_model.csv

In [273]:
df.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,...,VendorPercent,region_name,State,HoursPerWeekOfOperation,rev_per_kw,net_profit_per_yr,hr_per_yr_op,annualy_mntn_cost,efficiency,ven_quality
0,10025432,OK16592,RA,0.0,8.15,8/18/2017,592,Yes,Yes,OT,...,0.40,Region #1,TX,168,0.000000,0.000000,8736,0.681891,high,Good
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,...,0.30,Region #2,OK,120,565.836299,0.600680,6240,1.272596,high,Bad
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,...,0.60,Region #2,OK,120,5198.198198,3.468938,6240,0.799679,high,Bad
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,...,0.35,Region #2,OK,120,547.018349,0.600680,6240,1.272596,high,Good
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,...,0.60,Region #2,OK,120,2794.582393,3.311932,6240,0.599038,high,Bad

• Create the following outputs with modelcd, modelname, installcost, yearlyupkeep with models
that have high efficiency(Efficiency = ‘high’) “high_efficiency_model.csv

In [274]:
high_eff=df[df['efficiency']=='high']

In [275]:
high_eff.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,...,VendorPercent,region_name,State,HoursPerWeekOfOperation,rev_per_kw,net_profit_per_yr,hr_per_yr_op,annualy_mntn_cost,efficiency,ven_quality
0,10025432,OK16592,RA,0.0,8.15,8/18/2017,592,Yes,Yes,OT,...,0.40,Region #1,TX,168,0.000000,0.000000,8736,0.681891,high,Good
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,...,0.30,Region #2,OK,120,565.836299,0.600680,6240,1.272596,high,Bad
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,...,0.60,Region #2,OK,120,5198.198198,3.468938,6240,0.799679,high,Bad
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,...,0.35,Region #2,OK,120,547.018349,0.600680,6240,1.272596,high,Good
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,...,0.60,Region #2,OK,120,2794.582393,3.311932,6240,0.599038,high,Bad

In [276]:
high_efficiency_model=high_eff[['modelcd','modelname','installcost','yearlyupkeep']]
high_efficiency_model

    modelcd modelname  installcost  yearlyupkeep
0        OT    OT2092        10560          5957
1        BG    BG5143         2970          7941
2        EL    EL2441        15510          4990
3        BG    BG5143         2970          7941
4        LN    LN5994        10580          3738
..      ...       ...          ...           ...
166      GM    GM6971         6300          5195
168      BL    BL9633        20800          8748
170      DL    DL1438         8370          5770
171      LN    LN5994        10580          3738
172      VG    VG6615         4140          4525

[131 rows x 4 columns]

In [277]:
high_efficiency_model=high_efficiency_model.set_index('modelcd',drop=True)

In [278]:
high_efficiency_model.head()

        modelname  installcost  yearlyupkeep
modelcd
OT         OT2092        10560          5957
BG         BG5143         2970          7941
EL         EL2441        15510          4990
BG         BG5143         2970          7941
LN         LN5994        10580          3738

In [279]:
#converting into csv files
dff=high_efficiency_model.to_csv('/Users///Desktop/assignment_2_example/high_efficiency_model1.csv')

To manage the quality of vendor, the management wants to control the vendor premium
percentage based on the quality of vendor.
◦ Create a column to adjust the vendor premium(new_vendor_percentage)
▪ 5% increase if
• VendorQuality is “Good”(for instance, 0.3 -> 0.35)
▪ 5% decrease else

In [280]:
def ven_quality(df):
    if (df.ven_quality == 'Good'):
        return df.VendorPercent + 0.05 * df.VendorPercent
    else:
        return df.VendorPercent - 0.05 * df.VendorPercent

df['ven_per']=df.apply(ven_quality,axis=1)

In [281]:
df.head()

,vendor,field,region_cd,RevenueProduced,kilowatt_production,DateOfmeasure,fieldnumber,hasroads,haseasement,modelcd,...,region_name,State,HoursPerWeekOfOperation,rev_per_kw,net_profit_per_yr,hr_per_yr_op,annualy_mntn_cost,efficiency,ven_quality,ven_per
0,10025432,OK16592,RA,0.0,8.15,8/18/2017,592,Yes,Yes,OT,...,Region #1,TX,168,0.000000,0.000000,8736,0.681891,high,Good,0.4200
1,10002535,OK16592,RB,4770.0,8.43,12/30/2016,592,Yes,Yes,BG,...,Region #2,OK,120,565.836299,0.600680,6240,1.272596,high,Bad,0.2850
2,31110054,TX162158,RB,17310.0,3.33,1/28/2017,2158,Yes,Yes,EL,...,Region #2,OK,120,5198.198198,3.468938,6240,0.799679,high,Bad,0.5700
3,21500358,OK115130,RB,4770.0,8.72,7/29/2017,5130,Yes,Yes,BG,...,Region #2,OK,120,547.018349,0.600680,6240,1.272596,high,Good,0.3675
4,31110054,OK10536,RB,12380.0,4.43,11/24/2017,536,Yes,Yes,LN,...,Region #2,OK,120,2794.582393,3.311932,6240,0.599038,high,Bad,0.5700

In [282]:
ven_quality=df.groupby(['region_name','vendor','ven_quality'])[['VendorPercent','ven_per']].mean()
ven_quality

                                  VendorPercent  ven_per
region_name vendor   ven_quality
Region #1   10002535 Bad                   0.30   0.2850
            10025432 Bad                   0.40   0.3800
                     Good                  0.40   0.4200
            21500358 Bad                   0.35   0.3325
                     Good                  0.35   0.3675
            31110054 Bad                   0.60   0.5700
Region #2   10002535 Bad                   0.30   0.2850
            10025432 Bad                   0.40   0.3800
                     Good                  0.40   0.4200
            21500358 Bad                   0.35   0.3325
                     Good                  0.35   0.3675
            31110054 Bad                   0.60   0.5700
Region #3   10002535 Bad                   0.30   0.2850
            10025432 Bad                   0.40   0.3800
                     Good                  0.40   0.4200
            21500358 Bad                   0.35   0.3325
                     Good                  0.35   0.3675
            31110054 Bad                   0.60   0.5700

Compute the average VendorPercent and new_vendor_percent by region, Vendor,
VendorQuality
▪ Generate this output to “vendor_quality.csv”

In [283]:
#converting into csv files
vendor_quality=ven_quality.to_csv('/Users//Desktop/assignment_2_example/vendor_quality1.csv')